/* css-reset-start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
  }
  
  /* css-reset-end */
  
  /* navbar-start */
  .nav {
    padding-inline: 30px;
    padding-block: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #524D4D;
    max-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 20;
    height: 100vh;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    
  }
  
  /* nav-logo-start */
  
  .nav-logo {
    width: 170px;
    height: 70px;
    padding-top: 10px;
  }
  
  .nav .nav-logo img {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  /* nav-logo-end */
  
  /* nav-links-start */
  
  .nav .nav-links {
    display: flex;
    gap: 30px;
    
  }
  
  .nav-join-us-btn {
    background-color: #ffa500;
    padding-inline: 16px;
    padding-block: 10px;
    border-radius: 4px;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    
  }
  
  .nav .nav-links .nav-links-list {
    display: flex;
    align-items: center;
    gap: 55px;
    list-style-type: none;
    font-size: 1.2rem;
  }
  
  .nav .nav-links .nav-links-list li a:hover {
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    border-bottom: 4px solid #ffa500;
  }
  
  /* active nav link indicator */
  .nav-link-active {
    border-bottom: 4px solid #ffa500;
  }
  
  /* nav-links-end */
  
  /* hamburger menu */
  .hamburger-icon {
    display: inline-block;
    cursor: pointer;
    display: none;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 3.5px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
  }
  
  .hamburger-menu {
    width: 100%;
    background-color: #333333;
    position: absolute;
    top: 43px;
    right: 0;
    z-index: 3;
    height: 400%;
    transition: 0.5s;
    display: none;
  }
  
  .menu-items {
    padding: 10px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
    display: flex;
    justify-content: center;
  }
  
  /* hamburger menu end */
  
  /* subscription form */
  
  .subscription-form {
    position: absolute;
    background-color: #ffd280;
    width: 40%;
    max-width: 400px;
    top: 285px;
    left: 50%;
    transform: translate(-50%, -37%);
    padding: 20px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    display: none;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .subscription-form label {
    font-weight: bold;
  }
  
  .input-wrapper input {
    padding: 8px;
    font-size: 1rem;
    border: 0;
  }
  
  .options-input {
    display: flex;
    justify-content: space-evenly;
  }
  
  .direction-col {
    flex-direction: column;
    gap: 5px;
  }
  
  .direction-row {
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
  
  .direction-row label {
    font-size: 0.9rem;
  }
  
  .radio-btn-wrapper {
    display: flex;
    
  }
  
  .radio-btn-wrapper label {
    background-color: #d9d9d9;
    padding: 5px;
  }
  
  .small-text {
    font-size: 0.7rem;
  }
  
  .margin-t {
    margin-top: 20px;
    background-color: #524d4d;
  }
  
  .margin-t-half {
    margin-top: 10px;
    background-color: #524d4d;
  }

  
  /* subscription form end */
  
  .active {
    display: block;
  }
  
  /* navbar-end */
  
  /* main-container-start */
  
  main section {
    width: 100%;
    height: 100%;
  }
  
  /* section - 1 start */
  .full-view-image-container {
    height: 100vh;
    position: relative;
  }
  
  .full-view-image-container img {
    object-fit: cover;
    width: 100%;
    height: 110%;
  }
  
  .full-view-image-container-overlay {
    color: white;
    width: 42%;
    height: 65%;
    position: absolute;
    top: 20%;
    left: 8%;
    /* background-color: #1e1e1e;
    opacity: 0.8; */
    background-color: rgba(30, 30, 30, 0.8);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-inline: 50px;
    padding-block: 50px;
    border-radius: 4px;
  }
  
  .full-view-image-container-overlay h2 {
    font-size: 4rem;
  }
  
  .full-view-image-container-overlay p {
    font-size: 1.1rem;
  }
  
  .full-view-image-container-overlay .overlay-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .fa-arrow-right {
    position: absolute;
    /*top: 50%;*/
    margin-right: -90px;
    /*right: 10px;  Adjust right positioning as needed */
    /*transform: translateY(-50%);*/
}

  .full-view-image-container-overlay button {
    margin-top: 40px;
    font-size: 1rem;
    padding: 12px;
    color: white;
    background-color: #ffa500;
    border-radius: 5px;
    border: 2px solid #ffa500;
    height: 50px;
    width: 190px;
  }
  
  .full-view-image-container-overlay button:nth-child(2) {
    background-color: #4d4848;
    border: 2px solid #ffa500;
  }
  
  /* section - 1 end */

  /* section - 2 start */
.section-2 {
    background-color: #ffe2ad;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    position: relative;
    min-height: 100vh;
  }
  
  .section-2-social-links {
    position: absolute;
    background-color: #ffa500;
    width: 210px;
    height: 45px;
    top: -25px;
    left: -25px;
    transform: skew(-40deg);
    border: 1px solid white;
    border-radius: 3px;
    padding-left: 50px;
    padding-block: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 1.2rem;
  }
  
  .section-2-social-links svg {
    transform: skew(40deg);
  }
  
  .section-2 h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 6px;
  }
  
  .section-2-plan-container {
    width: 100%;
    max-width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    
  }
  
  .section-2-plan-container .plan-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px;
  }
  
  .plan-card img {
    object-fit: cover;
    width: 90px;
  }
  
  .plan-card h3 {
    font-size: 1.4rem;
  }
  
  .border-top {
    border-top: 3px solid #ffa500;
  }
  
  .border-inline {
    border-left: 3px solid #ffa500;
    border-right: 3px solid #ffa500;
  }
  
  /* section - 2 end */
  
  /* section - 3 start */
  
  .section-3 {
    background: url("../images/anastase-maragos-9dzWZQWZMdE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    min-height: 100vh;
  }
  
  .section-3 h2 {
    color: #ffa500;
    margin-block: 30px;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 6px;
  }
  
  .section-3 .section-3-subs-plans {
    width: 60%;
    /* max-width: 50%; */
    height: 450px;
    max-height: 450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    justify-content: center;
  }
  
  .section-3 .sub-plan-card {
    border-radius: 6px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-block: 25px;
    height: 90%;
  }
  
  .sub-plan-card div,
  button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sub-plan-card div h3 {
    color: #ffa500;
    font-size: 2.4rem;
  }
  
  .sub-plan-card div p {
    color: #b5aaaa;
    font-size: 1.2rem;
  }
  
  .sub-plan-card button {
    padding-inline: 18px;
    padding-block: 15px;
    border-radius: 6px;
    border: 3px solid #ffa500;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 1.5rem;
  }
  /* section - 3 end */
  
  /* section - 4 start */
  
  .section-4 {
    height: 90vh;
    min-height: 90vh;
    background-color: #ffa500;
    position: relative;
    justify-content: space-around;
  }
  
  .section-4-feature-img {
    width: 100%;
    background-image: url("../images/gym1.jpg");
    min-height: 50%;
    max-height: 60%;
    background-size: cover;
    background-position: center;
  }
  
  .section-4-feature-cards {
    background-color: white;
    border-radius: 3px;
    position: absolute;
    padding: 10px;
    width: 90%;
    /* height: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .section-4-feature-cards .feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 10px;
  }
  
  .section-4-feature-cards .feature-card img {
    object-fit: cover;
    width: 90px;
  }
  
  .section-4-feature-cards .feature-card h3 {
    font-size: 1.4rem;
  }
  
  .section-4-feature-cards .feature-card p {
    text-align: center;
    font-weight: bold;
  }
  /* section - 4 end */
  
  /* section - 4 start */
  
  .section-5 {
    /* height: 100vh; */
    min-height: 100vh;
    background-color: black;
    padding: 10px;
  }
  
  .section-5 h2 {
    color: #ffa500;
    margin-block: 30px;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 6px;
  }
  
  .section-5-feature-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: 40px auto;
  }
  
  .section-5-feature-cards .feature-card {
    /* border: 1px solid white; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    /* height: 60%; */
    margin: 0 auto;
  }
  
  .section-5-feature-cards .feature-card .img-wrapper {
    width: 270px;
    height: 350px;
    flex-basis: 300px;
  }
  
  .section-5-feature-cards .feature-card .img-wrapper img {
    aspect-ratio: 1/1;
    width: 90%;
    height: 100%;
    margin-left: 10px;
    /*object-fit: cover;*/
  }
  
  .section-5-feature-cards .feature-card .caption-wrapper {
    padding: 10px;
  }
  
  .section-5-feature-cards .feature-card p {
    color: #ffa500;
    font-size: 1.2rem;
    height: 100%;
    text-align: center;

  }
  /* section - 5 end */
  
  /* main-container-end */
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer .col {
    width: 100%;
    background-color: #524d4d;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .footer-col {
    width: 100%;
    padding: 10px;
    gap: 20px;
  }
  
  .footer-col:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-col img {
    width: 170px;
    height: 60px;
    object-fit: cover;
  }
  
  .footer-col h3 {
    color: #ffa500;
    text-align: center;
    margin-top: -10px;
  }

  .footer-link h3{
    color: white;
    text-align: left;
    
  }
  
  .footer-col:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  .footer-link {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  .footer-link ul {
    list-style-type: none;
  }
  .footer-link ul li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .footer-col:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tags-heading {
    text-decoration: underline;
    text-underline-offset: 6px;
  }
  
  .footer-tags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
  }
  
  .tag {
    padding-block: 8px;
    padding-inline: 10px;
    background-color: #8d8383;
    border-radius: 3px;
  }
  
  .tag-active {
    background-color: #ffa500;
  }
  
  .footer-col:nth-child(4) {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-col:nth-child(4) svg {
    font-size: 1.3rem;
  }
  
  .col:nth-child(2) {
    width: 100%;
    background-color: #ffa500;
    padding: 10px;
  }
  
  .col:nth-child(2) h3 {
    color: black;
    text-align: center;
  }
  
  